* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1752a3;
}

.land {
  fill: transparent;
  stroke: #fff;
}

.land:hover {
  fill: #ff0000;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.activeLand {
  fill: #cccccc;
}

.hoverTitle{
  background-color:#ffffffb7 ;
  border: 1px solid #fff;
  padding: 5px;
  font-size: .8rem;
  font-weight: bold;
  text-anchor: middle;
}